.person-wrapper {
  border: 5px solid #393b39;
  position: relative;
  display: flex;
  flex-direction: column;
}


.person-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -22.5px;
  left: 30px;
  border: 1px solid #393b39;
}



