<h1 mat-dialog-title>DODAJ NOWĄ POZYCJĘ</h1>
<div class="input-wrapper alternate-theme" mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Opis" [(ngModel)]="data.description">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Cena" [(ngModel)]="data.price">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button mat-raised-button [color]="'primary'" [mat-dialog-close]="data" cdkFocusInitial>Dodaj</button>
</div>
