.person-wrapper {
  position: absolute;
}

$margin: 50px;

.person-0 {
  top: $margin;
  left: $margin;
}

.person-1 {
  top: $margin;
  right: $margin;
}

.person-2 {
  top: 50%;
  left: $margin;
}


.person-3 {
  top: 50%;
  right: $margin;
}


.person-4 {
  bottom: $margin;
  left: $margin;
}


.person-5 {
  bottom: $margin;
  right: $margin;
}


.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
}

.unasigned-debts-wrapper {
  min-width: 50px;
  min-height: 50px;
  border: 5px solid #393b39;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;

  &:hover span, &:-moz-drag-over span {
    display: none;
  }
}


.assigned-debts-wrapper {
  width: 150px;
  min-height: 100px;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  &:hover span, &:-moz-drag-over span {
    display: none;
  }
}


.add-icon {
  position: fixed;
  bottom: 24px;
  right: calc(50% - 30px);
  z-index: 100;
  color: #04fc7c;
  background-color: #393b39;
}

.save-icon {
  position: fixed;
  width: 300px;
  top: 24px;
  left: calc(50% - 150px);
  z-index: 100;
  color: #04fc7c;
  background-color: #393b39;
}


@media only screen and (max-width: 600px) {

  .unasigned-debts-wrapper {
    margin-bottom: 30px;
  }

  .person-wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  .person-0, .person-1, .person-2, .person-3, .person-4, .person-5 {
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
  }

}




.hidden {
  display: none;
}

.upload-icon {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #393b39;
  position: fixed;
  width: 150px;
  bottom: 90px;
  left: calc(50% - 75px);
  z-index: 100;
  color: #04fc7c;
  cursor: pointer;
}



