/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  height: 100%;
  background-color: #04fc7c;
  color: #393b39;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//
//@media only screen and (max-width: 600px) {
//  body {
//    background-color: #393b39;
//  }
//
//}
